---
method: ssh
ssh_config:
  username: username
  password: ""
  private_key: /home/username/.ssh/id_rsa
  sudo_pass: ""
  sudo: true
host_config:
  log_files:
    - /var/log/mail.log
    - /data/log/mail.log
    - /data/log/postfix/maillog
  log_parser: NoSpaceInDatetimeParser
  time_format: "%Y-%m-%dT%H:%M:%S"
hosts:
  mail-server.mydomain.com:
    log_parser: DayOfWeekParser
    time_format: "%b %d %H:%M:%S"
