Host mx*
    HostName localhost
    Port 22222
    User root

Host mailer1*
    HostName localhost
    Port 22223
    User root

Host mailer2*
    HostName localhost
    Port 22228
    User root

Host mailer3*
    HostName localhost
    Port 22229
    User root

Host mailpolicy1*
    HostName localhost
    Port 22224
    User root

Host mailpolicy2*
    HostName localhost
    Port 22230
    User root

Host mailpolicy3*
    HostName localhost
    Port 22231
    User root

Host mailbox*
    HostName localhost
    Port 22225
    User root
